* {
    margin: 0;
    padding: 0;
}

body {
    width: 50%;
    margin: 30px 22px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    font-family: sans-serif;

    justify-content: center;
}

h2 {
    font-size: 14px;
    font-weight: 700;
}

p {
    font-size: 11px;
    font-weight: 300;
}

.principal {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;

    margin-right: 17px;
}

.principal img {
    margin-bottom: 10px;
}

.principal h2 {
    margin-bottom: 10px;
    width: 200px;
}

.principal p {
    width: 200px;
}

.principal p:last-child {
    width: 326px;
    margin-top: 10px;
}

.propaganda {
    margin-bottom: 15px;
    grid-column: 2;
    grid-row: 1;
}

.video1 {
    margin-bottom: 16px;
    grid-column: 2;
    display: flex;
}

.video1 img {
    margin-right: 4px;
}

.video1 h2 {
    margin-bottom: 7px;
}

.video1 p {
    margin-bottom: 5px;
}

.video2 {
    margin-bottom: 16px;
    grid-column: 2;
    display: flex;
}

.video2 h2 {
    margin-bottom: 7px;
}

.video2 img {
    margin-right: 4px;
}

.video2 p {
    margin-bottom: 5px;
}

.video3 {
    grid-column: 2;
    display: flex;
}
.video3 h2 {
    margin-bottom: 7px;
}

.video3 img {
    margin-right: 4px;
}

.video3 p {
    margin-bottom: 5px;
}
